.task-list-group {
  .task-item {
    transition: .15s ease-in-out background-color;
    padding: 15px 20px;

    &:before, &:after {
      display: block;
      width: 2px;
      position: absolute;
      left: 34px;
      content: '';
      background-color: lighten(#666, 20%);
      cursor: default;
    }
    &:before {
      height: 21px;
      bottom: 0;
      z-index: 2;
    }
    &:after {
      top: -1px;
      height: 24px;
      z-index: 1;
    }
    &:nth-child(2) {
      &:after {
        display: none;
      }
    }
    &:last-child {
      &:before {
        display: none;
      }
    }

    .task-title {
      display: inline-block;
      font-size: 16px;
      margin-left: 10px;
      transform: translateY(3px);
    }
    .btn-danger {
      transition: .3s ease-in-out opacity;
      margin-top: 4px;
      opacity: 0;
    }
    &:hover {
      .btn-danger {
        opacity: 1;
      }
    }
    &.task-item--completed {
      &:before {
        background-color: green;
      }
      &:after {
        background-color: green;
      }
      +.task-item:not(.task-item--completed) {
        &:before {
          background-color: linear-gradient(green, lighten(#666, 20%));
        }
      }
    }
  }
}
